<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h2>¡Bienvenidos a Gosu eSports</h2>
      <p>En Gosu eSports le ofrecemos una amplia variedad de juegos para todas las edades, desde los clásicos hasta los más novedosos.</p>
      <p>Contamos con instalaciones modernas y cómodas para que disfrutes al máximo de tu experiencia de juego. Además, tenemos una amplia selección de bebidas y snacks para que no tengas que preocuparte por nada más que por divertirte.</p>
      <p>Visítanos en nuestra ubicación en <b>Av Santa Rosa 172, 25 Rimac, Perú, Lima, Peru, Lima 25</b>, llamananos al telefono <b>981 191 542</b> o escribenos al correo <b>info@gosuesports.com</b> para mas información y súmate a nuestra comunidad de gamers.</p>
    </div>
    <div class="col-md-6">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/jwVmF38E85s" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen autoplay></iframe>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-6">
          <img src="assets/valo.jpeg" alt="Imagen del Lan Center" class="img-fluid">
        </div>
        <div class="col-md-6">
          <img src="assets/lol.jpg" alt="Imagen de juegos" class="img-fluid">
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-md-6">
          <img src="assets/warzone.jpg" alt="Imagen de juegos" class="img-fluid">
        </div>
        <div class="col-md-6">
          <img src="assets/fornite.jpeg" alt="Imagen de juegos" class="img-fluid">
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <h2>Nuestros servicios</h2>
      <ul>
        <li>Alquiler de computadoras para juegos</li>
        <li>Amplia selección de juegos disponibles</li>
        <li>Acceso a internet de alta velocidad</li>
        <li>Snacks y bebidas disponibles</li>
        <li>Torneos y eventos especiales</li>
      </ul>
    </div>
  </div>
  <hr>
    <div class="row">
      <div style="text-align: center;">
        <h3>Que esperas para sumarte a nuestra hermosa comunidad.</h3>
      </div>
    </div>
</div>