body {
  height: 100vh;
  overflow-y: scroll;
}

form {
  margin-bottom: 80px; /* Ajusta la cantidad de margen inferior que necesites */
}

.container {
  margin-bottom: 50px; /* Ajusta la cantidad de margen inferior que necesites */
}  


table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 150px;
}
  
th, td {
  text-align: left;
  padding: 8px;
}

th {
  background-color: #ddd;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #ddd;
}

button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}
  
input[type="search"] {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 8px;
  font-size: 16px;
  margin: 8px 0;
  width: 100%;
  box-sizing: border-box;
}

input[type="search"]:focus {
  outline: none;
  border-color: #8fb1e9;
  box-shadow: 0 0 5px rgba(143, 177, 233, 0.5);
}

#reporte-iframe {
  display: block;
  margin: 0 auto;
}

.tabla-usuarios img {
  max-width: 130px;
  height: auto;
}

.error-message {
  color: red;
  margin-top: 5px;
}

.tabla-usuarios th {
  text-align: center;
}


.tabla-usuarios td {
  text-align: center;
}